@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost&family=Preahvihear&display=swap");

.heading {
  font-family: "Preahvihear", sans-serif;
}

.para {
  font-family: "Jost", sans-serif;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}